Q1. Create a python program to sort the given list of tuples based on integer value
using a lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534),('Virat Kohli',24936)]

In [6]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534),('Virat Kohli', 24936)]

In [7]:
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [9]:
s= sorted(l, key = lambda x : x[1])

In [12]:
s

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a python program to find the squers of all the numbers in the given list of integers using
    lambda and map function.
    [1,2,3,4,5,6,7,8,9,10]

In [14]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [17]:
a=list(map(lambda i : i**2,l1))

In [18]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings.
    Use map and lambda functions
    
    Given String:[1,2,3,4,5,6,7,8.9,10]
    Expected output:('1','2','3','4','5','6','7','8','9','10')

In [19]:
l2=[1,2,3,4,5,6,7,8,9,10]

In [20]:
l=tuple(map(lambda i : str(i),l2))

In [21]:
l

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list 
    containing numbers from 1 to 25.

In [23]:
a=list(range(1,26))

In [24]:
a

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [26]:
from functools import reduce
 
reduce(lambda x,y: x*y,a)

15511210043330985984000000

Q5.  Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the        fliter function.
     [2,3,6,9,27,60,90,120,55,46]

In [27]:
l=[2,3,6,9,27,60,90,120,55,46]

In [29]:
list(filter(lambda x: x % 2==0 and x % 3==0, l))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter     function.
 ['python', 'php','aba','radar','level']

In [30]:
s=['pytho','php','aba','radar','level']

In [ ]:
list(filter(lambda x: (x==''. join(reversed(x))),s)